{% extends 'layouts/base.html' %}

{% block body %}
  
<div class="bg-body-tertiary min-vh-100 d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mb-4 mx-4">
          <div class="card-body p-4">
            <h1>Register</h1>
            <p class="text-body-secondary">Create your account</p>
            <form action="" method="POST">
              {% csrf_token %}
            <div class="input-group mb-3"><span class="input-group-text">
                <svg class="icon">
                  <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-user"></use>
                  
                </svg></span>
              <input class="form-control" type="text" placeholder="Username" name="username">
            </div>
            <div class="input-group mb-3"><span class="input-group-text">
                <svg class="icon">
                  <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-envelope-open"></use>
                </svg></span>
              <input class="form-control" type="email" placeholder="Email" name="email">
            </div>
            <div class="input-group mb-3"><span class="input-group-text">
                <svg class="icon">
                  <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-lock-locked"></use>
                </svg></span>
              <input class="form-control" type="password" placeholder="Password" name="password">
            </div>
            <div class="input-group mb-4"><span class="input-group-text">
                <svg class="icon">
                  <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-lock-locked"></use>
                </svg></span>
              <input class="form-control" type="password" placeholder="Confirm password" name="confirm_password">
            </div>
            <button class="btn btn-block btn-success" type="submit">Create Account</button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
  
