
   {% extends 'layouts/base.html' %}
   
   {% block content %}
    
   <div class="wrapper d-flex flex-column min-vh-100">
     <header class="header header-sticky p-0 mb-4">
       {% include 'includes/navbar.html' %}
       <div class="container-fluid px-4">
         <nav aria-label="breadcrumb">
           <ol class="breadcrumb my-0">
             <li class="breadcrumb-item active"><span>Home</span>
             </li>
           </ol>
         </nav>
       </div>
     </header>
     <div class="body flex-grow-1">
       <div class="container-lg px-4">
         <div class="row mb-4">
           <div class="col-xl-5 col-xxl-4 mb-4 mb-xl-0">
             <script id="_carbonads_js" async="" type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CEAICKJY&amp;placement=coreuiio"></script>
           </div>
           <div class="col-xl-7 col-xxl-8"><a class="banner-coreui-pro" href="https://coreui.io/product/bootstrap-dashboard-template/?theme=default">
               <svg class="banner-coreui-pro-logo d-xl-none d-xxl-block" width="100" height="100" alt="CoreUI Logo">
                 <use xlink:href="assets/brand/coreui.svg#signet"></use>
               </svg>
               <h4 class="fw-bolder">Elevate Your Design with CoreUI PRO!</h4>
               <p>Unlock a world of possibilities: More themes, enhanced components (Date Picker, Multi Select, and more), and priority support.</p></a></div>
         </div>
       </div>
     </div>
     {% include "includes/footer.html" %}
   </div>
   {% endblock content %}
    
